.header {
    background-color: lightseagreen;
    padding: 10px 20px;
    border: 1px solid #dadada;
    border-radius: 6px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }